.clubZiscan {
    @include center-flex();
    height: 580px;
    background-image: url(../archivos/imagenes/ClubZiscanFondoVideo.png);
    background-size: cover;
}

.redes {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 120px;

    i {
        margin-top: 20px;
    }
}

.fotosProd {
    border-radius: 25px;
    border: 2px solid black;
}

.infoProd {
    color: $color-secundario;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talles {
    text-align: center;
    color: $color-secundario;
    font-size: 20px;
}

.cabezaClub {
    @include center-flex(column);
    background-image: url(../archivos/imagenes/ComingSoonZiscan.png);
    color: $color-primario;
    text-align: center;
    height: 480px;
}

.planes {
    color: $color-primario;
    font-weight: 300;
}

.navPerfil {
    font-size: 40px;
    text-align: left;
}

.presentacionMarca {
    margin: 80px 0;
    display: flex;
    align-items: center;
}

.presentacionMarca {
    video {
        margin-left: 30px;
        width: 50%;
    }
}

.presentacionMarca {
    p {
        margin: 40px;
    }
}

.navbar {

    .nav-link {
        color: $color-primario;
    }
}

.textoGral {
    color: $color-primario;
}

.fa-regular {
    color: $color-primario;
    font-size: 25px;
}

.product-details {
    @include center-flex(column, 15px);
    text-align: center;

    .price {
        font-size: 2.25rem;
        font-weight: 600;
        margin-top: 10px;
    }

    h2 {
        font-size: 3.2rem;
        font-weight: 700;
        margin: 20px;
    }

    .d-flex {
        @include center-flex(row, 15px);
        margin-top: 20px;
    }

    button {
        font-size: 1.25rem;
        font-weight: 450;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;
        width: 150px;
    }

    .quantity-selector {
        @include center-flex(column);

        label {
            font-size: 1.5rem;
            margin-bottom: 5px;
        }

        input {
            width: 120px;
            padding: 8px;
            text-align: center;
        }
    }

    .size-selector {
        @include center-flex(column);

        label {
            font-size: 1.5rem;
            margin-bottom: 5px;
        }

        select {
            padding: 8px;
            width: 120px;
        }
    }

    .btn-outline-danger {
        background-color: transparent;
        color: #dc3545;
        border: 1px solid #dc3545;
        width: 90%;
        padding: 15px 20px;
    }

    .btn-danger {
        background-color: #dc3545;
        color: $color-primario;
    }

    .btn-danger:hover {
        background-color: #c82333;
    }

    .mb-3 {
        margin-bottom: 1rem;
    }
}

.tabla-talles {
    width: 80%;
    margin: 20px auto;

    h4 {
        text-align: center;
        color: $color-primario;
        font-size: 1.5rem;
        margin: 20px;
    }

    table {
        width: 100;
        border-collapse: collapse;

        th,
        td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
        }

        th {
            background-color: #333;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }
    }
}