$color-primario: #F3E0DE;
$color-secundario: #2A1C1B;
$color-terciario: #343a40;
$color-hover: #810202;
$color-blanco: #f8f9fa;
$fuente-principal: "Kanit", sans-serif;
$fuente-secundaria: "Arial", sans-serif;
$color-rojo: #ff5e57;